<%- include('../partials/topbar') %>
<h1><%= typeof title !== 'undefined' ? title : 'Projects' %></h1>
<% if (canCreate) { %>
  <a href="/projects/new">+ New project</a>
<% } %>


<ul>
  <% projects.forEach(p => { %>
    <li>
      <a href="/projects/<%= p._id %>"><%= p.naziv %></a>
      (cijena: <%= p.cijena %>)
    </li>
  <% }) %>
</ul>
